<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=   device-width, initial-scale=1.0">
    <title>Notificacion de nueva Respuesta</title>
</head>
<body>
    <h1>Hello <%= name %>, </h1>
    <p>A new reply has been added to your question in the video "<%= title %>".</p>
    <P>Por favor Inicie sesión para continuar con el debate</P>
    <p>Gracias por ser parte de la comunidad</p>
</body>
</html>